body {
    background-color: #f2f2f2;
    color: #333;
    font-family: 'Arial', sans-serif;
  }
  
  h1 {
    color: #f58220; /* Un color naranja similar al de la imagen */
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.60);
  }
  

  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.30);
    transition: all 0.3s ease-in-out;
    /* Agregar margen interno para que el contenido no toque los bordes de la tarjeta */
    padding: 2rem; 
    text-align: center;
  }
  
  /* Hacer que las tarjetas sean más grandes */
  .card-body {
    padding: 2rem; /* Ajusta este valor para aumentar el espacio dentro de la tarjeta */
  }
  
  .row {
    margin-right: 0; /* Asegurarse de que no haya margen derecho extra */
    margin-left: 0; /* Asegurarse de que no haya margen izquierdo extra */
  }
  
  .col-md-6 {
    padding-right: 0.5rem; /* Espaciado entre tarjetas, ajusta según necesidad */
    padding-left: 0.5rem; /* Espaciado entre tarjetas, ajusta según necesidad */
  }
  
  .custom-button {
    background-color: #f58220; /* Color de fondo naranja */
    border: none; /* Sin borde */
    border-radius: 20px; /* Bordes redondeados */
    color: white; /* Color de texto blanco */
    padding: 10px 60px; /* Relleno dentro del botón */
    font-size: 24px; /* Tamaño de la fuente */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); /* Sombra ligera para el botón */
    text-transform: uppercase; /* Texto en mayúsculas */
    font-weight: bold; /* Fuente en negrita */
    letter-spacing: 1px; /* Espacio entre letras */
    transition: background-color 0.3s; /* Transición suave al cambiar de color */
    width: 60%;
  }
  
  .custom-button:hover {
    background-color: #e57115; /* Color de fondo más oscuro al pasar el mouse */
    cursor: pointer; /* Cambiar el cursor a una mano al pasar el mouse */
  }
  
  /* Asegurarse de que las tarjetas ocupen todo el espacio horizontal en pantallas pequeñas */
  @media (max-width: 767px) {
    .col-md-6 {
      padding-right: 15px; /* Restaurar el espaciado en pantallas pequeñas */
      padding-left: 15px;  /* Restaurar el espaciado en pantallas pequeñas */
    }
  }
  

  