<div class="tipos-becas">
  <div class="container-fluid my-5">
    <div class="row">
      <div class="col-12">
        <div class="text-center mb-3">
          <button class="custom-button">Becas</button>
        </div>
      </div>
    </div>
  </div>
  
    <div class="row">
      <div class="col-lg-6 mb-4">
        <div class="card h-100">
          <div class="card-body" routerLink="/becas-externas">
            <h2 class="card-title">Externas</h2>
            <p class="card-text">Becas proporcionadas por la entidad federal o estatal.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="card h-100">
          <div class="card-body" routerLink="/becas-internas">
            <h2 class="card-title">Internas</h2>
            <p class="card-text">Becas proporcionadas por la universidad tecnológica del norte de guanajuato.</p>
          </div>
        </div>
      </div>
    </div>
</div>