<!-- Contenido de .inscripciones -->
<div class="incripciones">
  <div class="titulo-ins">
    <h1>Inscripciones</h1>
  </div>
  <div class="container">

    <div class="card" [class.oscuro]="esModoOscuro">
      <div class="card-header"  [class.oscuro]="esModoOscuro">
        <p>Haga clic en el botón para ver más detalles</p>

        <p>
<!-- Botón de Costos -->
<button class="btn btn-primary" type="button" 
  data-bs-toggle="collapse" data-bs-target="#collapseCostos"
  [attr.aria-expanded]="isCollapseCostosExpanded.toString()"
  (click)="isCollapseCostosExpanded = !isCollapseCostosExpanded"
  aria-controls="collapseCostos">
  Costos de inscripción (Fechas, Precios...)  
  <i class="fas" [ngClass]="{'fa-chevron-down': !isCollapseCostosExpanded, 'fa-chevron-up': isCollapseCostosExpanded}"></i>
</button>


        </p>
      </div>
      <div class="card-body">
        <div class="collapse" id="collapseCostos">
          <div class="header">
            <h1>Costos</h1>
            <h1>Técnico Superior Universitario - Ingeniería - Licenciatura</h1>
            <div class="header-p">
              <p>Periodo de venta de fichas</p>
              <p> del 12 al 23 de agosto de 2023</p>
              <p>Examen de admisión 25 de agosto de 2023</p>
            </div>
          </div>
          <div class="cost-section">
            <div class="cost-block">
              <h3>Ficha</h3>
              <p>$466.00</p>
            </div>
            <div class="cost-block">
              <h3>Inscripción</h3>
              <p>$466.00</p>
            </div>
            <div class="cost-block">
              <h3>Cuatrimestre</h3>
              <p>$1,795.00</p>
            </div>
          </div>
          <div class="contact-info">
            <h2 id="M-info">Mayores Informes:</h2>
            <div class="campus-info">
              <div class="campus-detalles">
                Campus Dolores | Janet Sánchez Beltrán<br>
                <a href="mailto:admisionTSUdolores@utng.edu.mx">{{'admisionTSUdolores@utng.edu.mx'}}</a><br>
                <span>418 1825500 ext. 1253</span>
              </div>
              <div class="separator"></div>
              <div class="campus-detalles">
                Campus Victoria | Marcela García García<br>
                <a href="mailto:admisionTSUvictoria@utng.edu.mx">{{'admisionTSUvictoria@utng.edu.mx'}}</a><br>
                <span><i class="fa-brands fa-square-whatsapp" style="color: #10c62e;"></i> 4192399098</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Contenido de .requisitos -->
    <div class="card" [class.oscuro]="esModoOscuro">
      <div class="card-header" [class.oscuro]="esModoOscuro">
        <p>Haga clic en el botón para ver más detalles</p>

        <p>
          <button class="btn btn-primary" type="button" 
          data-bs-toggle="collapse" data-bs-target="#collapseRequisitos"
          [attr.aria-expanded]="isCollapseRequisitosExpanded.toString()"
          (click)="isCollapseRequisitosExpanded = !isCollapseRequisitosExpanded"
          aria-controls="collapseRequisitos">
          Requisitos de inscripción (Fichas, Documentación...) 
          <i class="fas" [ngClass]="{'fa-chevron-down': !isCollapseRequisitosExpanded, 'fa-chevron-up': isCollapseRequisitosExpanded}"></i>
        </button>
        </p>
      </div>
      <div class="card-body">
        <div class="collapse" id="collapseRequisitos">
          <div class="header">
            <h1>Requisitos para la inscripción</h1>
          </div>
          <div class="container-r">
            <div class="req">
            </div>
            <div class="requisitos-container">
              <div class="title-r">Requisitos de ficha:</div>
              <ol class="requisitos-list">
                <li *ngFor="let requisito of requisitos">{{ requisito }}</li>
              </ol>
            </div>
            <div class="number-box">1</div>
            <div class="req">
            </div>
            <div class="requisitos-container">
              <p class="text-r">Envíe la documentación completa en formato PDF (no se aceptan fotos) al correo
                electrónico
                correspondiente según a el campus al que su hijo aspire.</p>
            </div>
            <div class="number-box">2</div>
            <div class="req">
            </div>
            <div class="requisitos-container">
              <p class="text-r">Recibirá dos correos electrónicos: uno confirmando la recepción de la documentación y
                otro
                solicitando el registro de datos en la página de CENEVAL, la institución que evaluará a los aspirantes.
              </p>
            </div>
            <div class="number-box">3</div>
          </div>
        </div>
      </div>
    </div>
  </div>