@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno:wght@400&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.incripciones {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: white;
}
.titulo-ins .typing-effect, .titulo-ins .end-typing {
  margin-top: 20px;
  font-size: 36px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid black; /* Cursor simulado */
  font-family: 'Special Elite', monospace; /* Aplicar la fuente Special Elite */
}

.titulo-ins .end-typing {
  border-right: none; /* Cursor oculto después de la animación */
}



#title-costos{
  color: #0056b3;
  font-weight: 800;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3.20px; 
  word-wrap: break-word;

}
.container {
  margin-top: 14px !important;
  width: 90%;
  margin: 20px auto;
  padding: 20px;

  margin-bottom: 130px !important;
}

  .header {
    color: #000;
    text-align: center;
    margin-bottom: 30px;
 
  }
  .header h1 {
    color: #000;
    font-weight: 800;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 3.20px; 
    word-wrap: break-word;
    
  }
  .header-p p{
    color: black;
    font-size: 16px;
    font-family: Nunito;
    font-weight: 700;
    word-wrap: break-word;
    margin-top: 10px;
  }
 
  .cost-section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  .cost-block {
    background: #00259A;
    border-radius: 10px;
    padding: 5px;
    height: 50px;
    width: 150px;
    text-align: center;
   
  }
  .cost-block h3 {
    color: white;
    font-size: 12px;
    font-family: Nunito;
    font-style: italic;
    font-weight: 800;
    letter-spacing: 2.40px;
    word-wrap: break-word
    
    
  }
  .cost-block p {
    color: white;
    font-size: 12px;
    font-family: Nunito;
    font-style: italic;
    font-weight: 800;
    letter-spacing: 2.40px;
    word-wrap: break-word
  }
  .info {
    font-size: 14px;
    text-align: center;
    margin-bottom: 30px;
  }
  .requirements, .instructions {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  .requirements div, .instructions div {
    flex: 1;
    margin-right: 10px;
  }
  .requirements div:last-child, .instructions div:last-child {
    margin-right: 0;
  }
  .step {
    background-color: #ffcc00;
    color: black;
    padding: 20px;
    border-radius: 8px;
    font-size: 14px;
  }
  .footer {
    text-align: center;
    margin-top: 20px;
  }

  
  .contact-info {

   text-align: center;
   margin-bottom: 40px;
  }
  #M-info{
    color: #00259A;
    font-weight: bold;
    margin-bottom: 25px;
  }
  
  .campus-info {
    display: flex;
    justify-content:center;
    align-items: center;
   
  }
  
  .campus-detalles {
    color: #000; /* Asume un color de texto oscuro */
    text-decoration: none;
  }
  
  .separator {
    height: 50px;
    width: 1px;
    background-color: #333; /* Asume un color para el separador */
    margin: 0 50px;
  }
  
  a {
    color: #000; /* Asume un color azul para los enlaces */
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  span {
    font-size: 0.9em;
    color: #666; /* Asume un color de texto más claro para los números de teléfono */
  }
  .container-r{
    display: flex;
    align-items: flex-start; /* Ajusta según tus necesidades */
  
  }
  
  .req {
    margin-left: 13px ;
    
  }
  
  .requisitos-container {
    width: 445px;
    height: 150px;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    background: transparent;
    box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.45);
    border-radius: 10px; 
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }
  .inscripciones:hover {
    background-color: #f0f0f0; /* Color de fondo al pasar el ratón por encima */
    color: #333; /* Color del texto al pasar el ratón por encima */
  }

  .inscripciones:hover, .requisitos:hover {
    background-color: #f0f0f0; /* Color de fondo al pasar el ratón por encima */
    color: #333; /* Color del texto al pasar el ratón por encima */
  }
  
  
  
  .title-r {

    margin-bottom: 15px;
    color:white;
    position: relative;
    word-wrap: break-word;
    z-index: 1;
    font-weight: 400;
   
  }
  .text-r{
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    position: relative;
    z-index: 999;

  }
  
  
  .requisitos-list {
    color: black;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .number-box {
    background-color: #E57A08;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 150px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
  @media screen and (max-width: 768px) {
    .container {
      width: 100%;
      padding: 20px 10px; /* Reduced side padding for smaller screens */
    }
  
    .container-r, .campus-info {
      flex-direction: column;
      align-items: center;
    }
  
    .req, .requisitos-container, .number-box {
      width: 100%; /* Set the width to 100% to ensure it expands the full container width */
      box-sizing: border-box; /* Include padding and border in the element's total width and height */
    }
  
    .requisitos-container {
      margin-bottom: 30px; /* Add some space between the list and the next element */
    }
  
    .number-box {
     
      margin-bottom: 10px;
    }
  
    .campus-detalles, .separator {
      width: auto; /* Adjust the width to be auto so it fills the space as needed */
      margin-bottom: 20px;
    }
  
    .separator {
      display: none; /* Hide the separator on smaller screens */
    }
    
    /* Additional styles to ensure text and other elements scale down */
    h1, h2, h3, p, a {
      font-size: 14px; /* Adjust font size for smaller screens */
    }
  }
  
  @media screen and (max-width: 480px) {
    h1, h2, h3, p {
      font-size: smaller;
    }
  
    .cost-block, .requisitos-container, .number-box {
      width: 100%; /* Debería ser 100% para usar todo el ancho disponible */
      margin-bottom: 15px; /* Agrega margen inferior para separar los elementos */
    }
  
    /* Ajustar tamaños de fuente para pantallas más pequeñas si es necesario */
    .cost-block h3 {
      font-size: 1em; /* Ejemplo de ajuste de tamaño de fuente */
    }
  
    .number-box {
      align-self: flex-start; /* Alinea los números a la izquierda */
    }
    
    /* Otras reglas de estilo que puedas necesitar para mejorar la responsividad */
  }
  /* Estilos generales */
.inscripciones {
  font-family: 'Arial', sans-serif; /* Cambia esto por la fuente que se muestra en la imagen */
  color: #333; /* Ajusta este valor al color del texto que se muestra en la imagen */
}

.container {
  width: 100%;
  max-width: 1200px; /* Ajusta esto al ancho del contenedor que prefieras */
  margin: 0 auto; /* Centra el contenedor */
}


.card {
  border: 1px solid #ddd; /* Borde sutil para la tarjeta */
  margin-bottom: 20px; /* Espacio entre las tarjetas */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ligera */
  transition: all 0.3s ease; /* Transición suave para efectos */
  overflow: hidden; /* Oculta cualquier contenido que se salga de los bordes */
}

/* Efecto de deslizamiento hacia arriba en hover */
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.card-header {
  padding: .75rem 1.25rem; /* Espaciado interno para el encabezado */
  background-color: #f7f7f7; /* Color de fondo para el encabezado */
  border-bottom: 1px solid #ddd; /* Borde para separar del cuerpo de la tarjeta */
}

.btn.btn-primary.cta {
    background-color: transparent;
    color: #0056b3;
    padding: .75rem 1.25rem;
    border: none;
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
    width: 100%; /* Hace que el botón abarque toda la anchura del encabezado de la tarjeta */
    text-align: left; /* Alinea el texto a la izquierda */
}

.cta {
  border: none;
  background: none;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}



/* Sección de costos e información de contacto */
.header {
  background-color: #e9ecef; /* Ajusta al color de fondo de la cabecera */
  padding: 10px;
  border-bottom: 2px solid #007bff; /* Ajusta al color del borde de la cabecera */
}

.header h1, .header h2 {
  margin: 0;
  padding: 0;
  color: #0056b3; /* Ajusta al color del texto de la cabecera */
}

.cost-section, .contact-info {
  padding: 5px;
}

.cost-block, .campus-info {
  margin-bottom: 2px;
}

/* Detalles de contacto */
.campus-detalles {
  margin-bottom: 10px;
}

.separator {
  border-left: 2px solid #ddd; /* Ajusta al color del separador */
  height: 100px;
}

/* Estilo de los íconos */
.fa-square-whatsapp {
  color: #25D366; /* Color del logo de WhatsApp */
}

/* Ajusta los colores y tamaños según el diseño de tu imagen */

.requisitos-container {
  height: 150px;
  padding-bottom: 12px;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 10px; 
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  background: transparent;
  box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.45);
  position: relative;
  overflow: hidden;
 
}

.wave {
  position: absolute;
  width: 540px;
  height: 700px;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -50%;
  margin-top: -70%;
  background: linear-gradient(744deg, #2557a7, #4989D6 60%, #7FB2F0);
}

.icon {
  width: 3em;
  margin-top: -1em;
  padding-bottom: 1em;
}

.infotop {
  text-align: center;
  font-size: 20px;
  position: absolute;
  top: 5.6em;
  left: 0;
  right: 0;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.name {
  font-size: 14px;
  font-weight: 100;
  position: relative;
  top: 1em;
  text-transform: lowercase;
}

.wave:nth-child(2),
.wave:nth-child(3) {
  top: 210px;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 3000ms infinite linear;
}

.wave {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 4000ms;
}

.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 5000ms;
}

.wave:nth-child(3) {
  animation-duration: 45s;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}




