<div class="becas-externas">


  <!-- Fila de Tarjetas -->
  <div class="row text-center">
    <!-- Tarjeta 1 -->
    <div class="col-lg-6 mb-4 d-flex align-items-stretch" style="padding: 30px;">
      <a href="https://contigosi.guanajuato.gob.mx/becas-con-grandeza/" class="card-link"  target="_blank">
      <div class="card w-100 shadow">
        <div class="card-header bg-blue text-white rounded-top">
          CONTIGO SI
          <div class="badge badge-open">Convocatoria abierta</div>
        </div>
        <div class="card-body bg-light rounded-bottom">
          <p class="text-justify">Apoyo económico dirigido a personas guanajuatenses que se encuentren estudiando los
            niveles TSU o licenciatura en escuelas públicas del Estado de Guanajuato, que acrediten un ingreso per
            cápita igual o menor en función de la línea de bienestar urbano mensaul determinado por CONEVAL y,
            preferentemente, cuenten con una o más carencias sociales</p>
          <h5 class="text-left">Requisitos:</h5>
          <ul>
            <li>Formato de solicitud establecido por JUVENTUDES, firmado por la persona solicitante, padre, madre o
              tutora social, en caso de ser menor de edad;</li>
            <li>Constancia que acredite la residencia en el estado de Guanajuato por al menos 2 años, la cual podrá ser
              un comprobante de estudios o carta de residencia expedida por la autoridad municipal competente; Este
              documento aplica únicamente para personas solicitantes no nacidas en el Estado de Guanajuato.</li>
            <li>Identificación oficial vigente (INE, Pasaporte, Cedula Profesional, Cartilla militar, o Tarjeta GTO
              Contigo Sí) de la persona que firme la solicitud, podrá ser de la persona o del padre, madre o tutor
              social, en caso de ser menor de edad;</li>
            <li>Comprobante de domicilio con antigüedad no mayor a 2 meses, el cual podrá ser recibo de agua, luz,
              teléfono, gas natural, servicio de televisión por cable, constancia emitida por el delegado de la
              comunidad, el precedente del comité de colonos o carta expedida por cualquier figura representativa de la
              colonia o comunidades; y</li>
            <li>Comprobante de estudios, conforme a lo siguiente:
              <ol type="a">
                <li>En educación básica, constancia de estudios. Este requisito aplica únicamente para personas
                  solicitantes que no parezcan en el sistema de control escolar del la secretaria de educación de
                  Guanajuato. La Dirección podrá realizar los requerimientos que considere necesarios; y</li>
                <li>Para educación de niveles media superior, TSU o licenciatura, constancia de estudios o recibo de
                  pago de inscripción emitido por la institución educativa en que realiza sus estudios. Este requisito
                  aplica únicamente para las personas solicitantes que no aparezcan en la matrícula escolar de las
                  instituciones educativas participantes en la plataforma definida por JUVENTUDESGTO.</li>
              </ol>
            </li>
          </ul>
        </div>
      </div>
    </a>
    </div>
    <!-- Tarjeta 2 -->
    <div class="col-lg-6 mb-4 d-flex align-items-stretch" style="padding: 30px;">
      <a href="https://subes.becasbenitojuarez.gob.mx/" class="card-link"  target="_blank">
      <div class="card w-100 h-100 shadow">
        <div class="card-header bg-blue text-white rounded-top">
          JOVENES ESCRIBIENDO EL FUTURO
          <div class="badge badge-close">Convocatoria abierta</div>
        </div>
        <div class="card-body bg-light rounded-bottom">
          <p class="text-justify">Esta beca es por parte del Gobierno de México que busca apoyar a estudiantes de
            escasos recursos, de nivel superior, que se encuentren cursando el nivel de
            Educación Superior.
            Si tú eres un estudiante del nivel de educación media superior, la Beca Benito
            Juárez es para ti.
            El Monto de la beca Jóvenes Escribiendo el Futuro es de hasta $9,600.00 (nueve
            mil seiscientos pesos 00/100 M.N.), distribuidos hasta en 2 pagos bimestrales por
            la cantidad de $4,800.00 (cuatro mil ochocientos pesos 00/100 M.N.) cada uno.</p>
          <h5 class="text-left">Requisitos:</h5>
          <ul class="text-left">
            <li>Estar inscrito en la modalidad
              escolarizada, en alguna Institución
              Pública de Educación Superior (IPES)
              del país, de las señaladas en el párrafo
              anterior.
            </li>
            <li>Tener hasta 29 años cumplidos al
              momento de solicitar la beca.</li>
            <li>No estar recibiendo ninguna otra beca
              o apoyo por parte del Gobierno
              Federal para el mismo fin.</li>
          </ul>
        </div>
      </div>
    </a>
    </div>
  </div>
</div>