<div class="soloParaocuparEspacio"></div>

<div class="home">
    <div class="home__carousel">
        <div id="carouselExampleIndicators" class="carousel slide home__carousel_img" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/home/carousel/carousel_1.png" class="d-block w-100" alt="carousel imagen 1">
              </div>
              <div class="carousel-item">
                <img src="assets/home/carousel/carousel_2.png" class="d-block w-100" alt="carousel imagen 2">
              </div>
              <div class="carousel-item">
                <img src="assets/home/carousel/carousel_3.png" class="d-block w-100" alt="carousel imagen 3">
              </div>
              <div class="carousel-item">
                <img src="assets/home/carousel/carousel_4.png" class="d-block w-100" alt="carousel imagen 4">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    <div class="home__carreras mt-3">
        <div class="home__carreras_titulo"><h1>CARRERAS</h1></div>
        <div class="home__carreras_carreras mt-3">
          <div class="carrera carrera_RH" id="carrera_contaduria">
            <div class="carrera_RH__div_titulo"><h5 class="carrera__titulo" style="font-size: 1.2vw; margin-top: 1vh;">Contaduria</h5></div>
          </div>
          <div class="carrera carrera_PI" id="carrera_energias">
            <div class="carrera_PI__div_titulo"><h5 class="carrera__titulo" style="font-size: 0.8vw; margin-top: 1vh;">Energias Renovables <br> Área Calidad y Ahorro de Energía</h5></div>
          </div>
          <div class="carrera carrera_TI" id="carrera_desarrollo">
            <div class="carrera_TI__div_titulo"><h5 class="carrera__titulo" style="font-size: 1vw; margin-top: 1vh;">Desarrollo de Software Multiplataforma</h5></div>
          </div>
          <div class="carrera carrera_TI" id="carrera_mecatronica">
            <div class="carrera_TI__div_titulo"><h5 class="carrera__titulo" style="font-size: 1vw; margin-top: 1vh;">Ingeniería en Mecatrónica</h5></div>
          </div>
          <div class="carrera carrera_RH" id="carrera_entornos">
            <div class="carrera_RH__div_titulo"><h5 class="carrera__titulo" style="font-size: 0.8vw; margin-top: 1vh;">Ingeniería en Entornos <br> Virtuales y Negocios Digitales</h5></div>
          </div>
        </div>
    </div>
</div>