<div class="header">


    <div class="header__logo">
        <img id="header__logo__img" src="assets/header/logo-UTNG.webp" alt="Logo UTNG">
    </div>
    <div class="header__derecha">

        <div id="iconMenu" class="collapse">
            <div class="d-flex">
                <div class="header__navegador">
                    <i class="btn-help fa-solid" #themeButton [class.fa-moon]="theme === 'light'" [class.fa-sun]="theme === 'dark'" (click)="CambiarTema()"></i>
                </div>
                <div class="header__navegador">
                    <i class="btn-help fa-solid fa-keyboard" #keysButton data-bs-toggle="modal" data-bs-target="#keyBoardDocsModal"></i>
                </div>
                <div class="header__navegador">
                     <i class="btn-help fa-solid fa-podcast speak" [class.btn-active]="lectura.lectura" #speakButtonRef (click)="activar()"></i>
                </div>
                <div class="header__navegador">
                    <i class="btn-help fa-solid fa-microphone" [class.btn-active]="isMicEnabled" #listenButton (click)="listenToVoice()"></i>
                </div>
            </div>

        </div>

        <div class="header__navegador">
            <button class="btn" style="color: white;" id="menuButton" data-bs-toggle="collapse" data-bs-target="#iconMenu">
                <i class="fa-solid fa-universal-access"></i>
            </button>
        </div>


        <div id="header_elements" class="header__opciones nabvar_abierto">
            <div class="header__opciones__elementos">


                <div id="home"  (click)="this.activarElemento('home')"  [class.active]="getActiveElement() == 0" class="header__opciones__elementos__animation option"> <a routerLink="home" (mouseenter)="this.lectura.leerTexto('Home')"> Home </a> </div>
                <!-- ... tu código HTML existente ... -->
                <!-- <button #voiceButton class="btn btn-help" (click)="listenToVoice()"><i class="fa-solid fa-microphone" style="color: #ffffff;"></i></button> -->
                <!-- ... tu código HTML existente ... -->

                <div class="line"></div>
                <div id="becas" (click)="this.activarElemento('becas')" [class.active]="getActiveElement() == 1" class="header__opciones__elementos__animation option"> <a (mouseenter)="this.lectura.leerTexto('Becas')"> Becas </a> </div>
                <div class="line"></div>
                <div id="carreras" (click)="this.activarElemento('carreras')" [class.active]="getActiveElement() == 2" class="header__opciones__elementos__animation option"> <a routerLink="carreras" (mouseenter)="this.lectura.leerTexto('Carreras')"> Carreras </a> </div>
                <div class="line"></div> 
                <div id="instalaciones" (click)="this.activarElemento('instalaciones')" [class.active]="getActiveElement() == 3" class="header__opciones__elementos__animation margin_instalaciones option"> <a (mouseenter)="this.lectura.leerTexto('Instalaciones')"> Instalaciones </a> </div> 
                <div class="line"></div>
                <div id="acerca" (click)="this.activarElemento('inscripciones')" [class.active]="getActiveElement() == 4" class="header__opciones__elementos__animation margin_acerca option"> <a (mouseenter)="this.lectura.leerTexto('Inscripciones')"> Inscripciones </a> </div> 


            </div>
        </div>
        <i id="menu__burguer" class="fa-solid fa-list icon-select" style="color: white;"></i>
    </div>
</div>


<div class="modal fade" id="keyBoardDocsModal" tabindex="-1" aria-labelledby="keyBoardDocsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="text-align: center;">
                <div class="col-12">
                    <h1 class="modal-title fs-5" id="keyBoardDocsModalLabel">Teclas de acceso rapido</h1>
                </div>
                <button type="button" style="position: relative; left: -36px;" class="btn" data-bs-dismiss="modal"
                    aria-label="Close"><i class="fa-solid fa-xmark fa-xl"></i></button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="title-section">
                        <h4>Navegación</h4>
                    </div>
                    <div>
                        <app-teclado type="navegation"></app-teclado>
                    </div>
                    <div>
                        <hr>
                    </div>
                </div>
                <div>
                    <div class="title-section">
                        <h4>Solicitar ayuda</h4>
                    </div>
                    <div>
                        <app-teclado type="ayuda"></app-teclado>
                    </div>
                    <div>
                        <hr>
                    </div>
                </div>
                <div>
                    <div class="title-section">
                        <h4>Tema</h4>
                    </div>
                    <div>
                        <app-teclado type="theme"></app-teclado>
                    </div>
                    <div>
                        <hr>
                    </div>
                </div>

                <div>
                    <div class="title-section">
                        <h4>Teclas rapidas</h4>
                    </div>
                    <div>
                        <app-teclado type="keys"></app-teclado>
                    </div>
                    <div>
                        <hr>
                    </div>
                </div>


                <div>
                    <div class="title-section">
                        <h4>Microfono</h4>
                    </div>
                    <div>
                        <app-teclado type="micro"></app-teclado>
                    </div>
                    <div>
                        <hr>
                    </div>
                </div>

                <div>
                    <div class="title-section">
                        <h4>Bocina</h4>
                    </div>
                    <div>
                        <app-teclado type="audio"></app-teclado>
                    </div>
                    <div>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="justify-content: center;">
                <button type="button" class="btn btn-p-primary" data-bs-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>