<div class="header">
    <div class="header__logo">
        <img id="header__logo__img" src="../../../assets/header/logo-UTNG.webp" alt="Logo UTNG">
    </div>
    <div class="header__derecha">
        <div class="header__navegador">
            <i id="header__navegador__lupa" class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div id="header_elements"  class="header__opciones nabvar_abierto">
            <div class="header__opciones__elementos">

                <div id="home"  (click)="this.activarElemento('home')"  class="header__opciones__elementos__animation option"> <a routerLink="home"> Home </a> </div>
                <div class="line"></div>
                <div id="becas" (click)="this.activarElemento('becas')" class="header__opciones__elementos__animation option"> <a> Becas </a> </div>
                <div class="line"></div>
                <div id="carreras" (click)="this.activarElemento('carreras')" class="header__opciones__elementos__animation option"> <a routerLink="carreras"> Carreras </a> </div>
                <div class="line"></div> 
                <div id="instalaciones" (click)="this.activarElemento('instalaciones')" class="header__opciones__elementos__animation margin_instalaciones option"> <a> Instalaciones </a> </div> 
                <div class="line"></div>
                <div id="acerca" (click)="this.activarElemento('acerca')" class="header__opciones__elementos__animation margin_acerca option"> <a> Acerca de nosotros </a> </div> 

            </div>
        </div>
        <i id="menu__burguer" class="fa-solid fa-list icon-select" style="color: white;"></i>
    </div>
</div>