<div class="carreras">
    <div class="carreras__body">
        <div class="carreras__migas_de_pan mt-3">
            <div class="carreras__migas_de_pan__miga" style="left: 1.5vw;">
                <div class="carreras__migas_de_pan_miga__acomodar">
                    <img class="carreras__migas_de_pan_miga__img" src="/assets/carreras/migas/miga_verde.png"
                        alt="miga_carreras">
                    <h5 class="carreras__migas_de_pan_miga__texto">Carreras</h5>
                </div>
            </div>

            <div class="carreras__migas_de_pan__miga">
                <div class="carreras__migas_de_pan__miga">
                    <img class="carreras__migas_de_pan_miga__img" src="/assets/carreras/migas/miga_naranja.png"
                        alt="miga_carreras">
                    <h5 class="carreras__migas_de_pan_miga__texto text-center">Seleccionar <br> Carrera</h5>
                </div>
            </div>

            <div class="carreras__migas_de_pan__miga">
                <div class="carreras__migas_de_pan__miga" style="right: 1.5vw;">
                    <img class="carreras__migas_de_pan_miga__img" src="/assets/carreras/migas/miga_verde.png"
                        alt="miga_carreras">
                    <h5 class="carreras__migas_de_pan_miga__texto">Requisitos</h5>
                </div>
            </div>

            <div class="carreras__migas_de_pan__miga">
                <div class="carreras__migas_de_pan__miga" style="right: 3vw;">
                    <img class="carreras__migas_de_pan_miga__img" src="/assets/carreras/migas/miga_verde.png"
                        alt="miga_carreras">
                    <h5 class="carreras__migas_de_pan_miga__texto">Inscripción</h5>
                </div>
            </div>
        </div>

        <div class="carrera__collapse__button mt-5">
            <button class="btn btn-blue carrera__boton" id="boton-negocios" type="button" data-bs-toggle="collapse"
                data-bs-target="#NegociosYAdministracion" aria-expanded="false" aria-controls="NegociosYAdministracion">
                Negocios y Administración
            </button>
            <i class="fa-solid fa-chevron-down"></i>
        </div>

        <div class="ag-format-container collapse" id="NegociosYAdministracion">

            <div class="ag-courses_box">

                <div class="ag-courses_item">
                    <app-nieve id="carrera-nieve"></app-nieve>
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            Administración Area de Capital Humano
                        </div>

                        <div class="ag-courses-item_date-box">
                            Modalidad:
                            <span class="ag-courses-item_date">
                                Presencial
                            </span>
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <app-nieve id="carrera-nieve"></app-nieve>
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            Contaduria
                        </div>

                        <div class="ag-courses-item_date-box">
                            Modalidad:
                            <span class="ag-courses-item_date">
                                Presencial
                            </span>
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <app-nieve id="carrera-nieve"></app-nieve>
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            Ingeniería en Entornos Virtuales y Negocios Digitales
                        </div>

                        <div class="ag-courses-item_date-box">
                            Modalidad:
                            <span class="ag-courses-item_date">
                                Presencial
                            </span>
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <app-nieve id="carrera-nieve"></app-nieve>
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            Turismo
                        </div>

                        <div class="ag-courses-item_date-box">
                            Modalidad:
                            <span class="ag-courses-item_date">
                                Presencial
                            </span>
                        </div>
                    </a>
                </div>

            </div>

        </div>

        <div class="carrera__collapse__button mt-5">
            <button class="btn btn-blue carrera__boton" id="boton-tic" type="button" data-bs-toggle="collapse"
                data-bs-target="#Tecnologia" aria-expanded="false" aria-controls="Tecnologia">
                Tecnología e Informática
            </button>
            <i class="fa-solid fa-chevron-down"></i>
        </div>

        <div class="ag-format-container collapse" id="Tecnologia">

            <div class="ag-courses_box">

                <div class="ag-courses_item">
                    <app-nieve id="carrera-nieve"></app-nieve>
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            Desarrollo de Software Multiplataforma
                        </div>

                        <div class="ag-courses-item_date-box">
                            Modalidad:
                            <span class="ag-courses-item_date">
                                Presencial
                            </span>
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <app-nieve id="carrera-nieve"></app-nieve>
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            Ingeniería en Desarrollo y Gestión de Software
                        </div>

                        <div class="ag-courses-item_date-box">
                            Modalidad:
                            <span class="ag-courses-item_date">
                                Presencial
                            </span>
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <app-nieve id="carrera-nieve"></app-nieve>
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            Ingeniería en Mecatrónica
                        </div>

                        <div class="ag-courses-item_date-box">
                            Modalidad:
                            <span class="ag-courses-item_date">
                                Presencial
                            </span>
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <app-nieve id="carrera-nieve"></app-nieve>
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            Mecatrónica Área Instalaciones Eléctricas Eficientes
                        </div>

                        <div class="ag-courses-item_date-box">
                            Modalidad:
                            <span class="ag-courses-item_date">
                                Presencial
                            </span>
                        </div>
                    </a>
                </div>

            </div>

        </div>

        <div class="carrera__collapse__button mt-5">
            <button class="btn btn-blue carrera__boton" id="boton-pi" type="button" data-bs-toggle="collapse"
                data-bs-target="#ProcesosIndustriales" aria-expanded="false" aria-controls="ProcesosIndustriales">
                Ingeniería y Tecnología de la Producción
            </button>
            <i class="fa-solid fa-chevron-down"></i>
        </div>

        <div class="ag-format-container collapse" id="ProcesosIndustriales">

            <div class="ag-courses_box">

                <div class="ag-courses_item">
                    <app-nieve id="carrera-nieve"></app-nieve>
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            Energias Renovables Área Calidad y Ahorro de Energía
                        </div>

                        <div class="ag-courses-item_date-box">
                            Modalidad:
                            <span class="ag-courses-item_date">
                                Presencial
                            </span>
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <app-nieve id="carrera-nieve"></app-nieve>
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            Ingeniería en Tecnologías de la Producción
                        </div>

                        <div class="ag-courses-item_date-box">
                            Modalidad:
                            <span class="ag-courses-item_date">
                                Presencial
                            </span>
                        </div>
                    </a>
                </div>

            </div>

        </div>

    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="contaduria" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Contaduria</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page">PERFIL DE INGRESO</a>
                    </li>
                    <li style="cursor: pointer;" class="nav-item">
                        <a class="nav-link">COMPETENCIAS ESPECÍFICIAS ADQUIRIDAS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">OCUPACIONES PROFESIONALES</a>
                    </li>
                    <li style="cursor: pointer;" class="nav-item">
                        <a class="nav-link disabled" tabindex="-1" aria-disabled="true">MAPA CURRICULAR</a>
                    </li>
                </ul>

                <div class="contaduria">
                    <div>
                        <img style="width: 80%; height: 80%;" src="/assets/carreras/carrera/contaduria-Logo.jpg"
                            alt="ContaduriaLogo">
                    </div>
                    <div class="mt-5">
                        <p>El aspirante deberá de ser egresado en educación media superior, preferentemente de las áreas
                            de Administración, Contabilidad, Humanidades o áreas afines.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>




<!-- <div class="carreras_filtros mt-4">

    <div class="carreras_filtros__imagen">
        <i class="fa-solid fa-list carreras_filtros__imagen_list"></i>
    </div>

    <div class="carreras_filtros__botones">
        <button class="carreras_filtro filtro"
            style="background-color: #00A887; font-size: 0.8vw; border: #056250 solid 2px;"> Todas </button>
        <button (click)="this.RH = false" class="carreras_filtro filtro"
            style="background-color: #E57A08; font-size: 0.85vw; border: #7D4100 solid 2px;"> Negocios y
            Administración </button>
        <button class="carreras_filtro filtro"
            style="background-color: #00259A; font-size: 0.85vw; border: #000F3C solid 2px;"> Tecnología e
            Informática </button>
        <button class="carreras_filtro filtro"
            style="background-color: #A9A9A9; font-size: 0.7vw; border: #555453 solid 2px;"> Ingeniería y
            Tecnología de la Producción </button>
    </div>
</div> -->
