<div class="becas-internas">
  <div class="container-fluid my-5">
    <div class="row">
      <div class="col-12">
        <div class="text-center mb-3">
          <button class="custom-button">Becas Internas</button>
        </div>
      </div>
    </div>

    <!-- Fila de Tarjetas -->
    <div class="row text-center">
      <!-- Tarjeta 1 -->
      <div class="col-lg-6 mb-4 d-flex align-items-stretch" style="padding: 30px;">
        <a href="https://siga.utng.edu.mx/" class="card-link"  target="_blank">
        <div class="card w-100 h-100 shadow">
          <div class="card-header bg-blue text-white rounded-top">
            APOYO ALIMENTICIO
            <div class="badge badge-open">Convocatoria abierta</div>
          </div>
          <div class="card-body bg-light rounded-bottom">
            <p class="text-justify">Consiste en la iniciativa de una comida al día en la Universidad a los alumnos de la
              modalidad escolarizada, los interesados deberán estar inscritos a la institución.</p>
            <h5 class="text-left">Requisitos:</h5>
            <ul class="text-left">
              <li>Ser alumno regular en el cuatrimestre.</li>
              <li>Solicitud debidamente llenada y firmada con visto bueno del director del área académica
                correspondiente, con los siguientes documentos:</li>
              <ul>
                <li>Constancia de ingresos económicos familiares no mayor a un mes.</li>
                <li>Oficio de recomendación por parte del tutor académico describiendo la necesidad del apoyo</li>
              </ul>
            </ul>
          </div>
        </div>
      </a>
      </div>
      <!-- Tarjeta 2 -->
      <div class="col-lg-6 mb-4 d-flex align-items-stretch"  style="padding: 30px;">
        <a href="https://siga.utng.edu.mx/" class="card-link"  target="_blank">
        <div class="card w-100 h-100 shadow">
          <div class="card-header bg-blue text-white rounded-top">
            APOYO DEPORTIVO Y CULTURAL
            <div class="badge badge-open">Convocatoria abierta</div>
          </div>
          <div class="card-body bg-light rounded-bottom">
            <p class="text-justify">Consiste en la exención del 100% en el pago de la inscripción cuatrimestral para los
              alumnos del primero al quinto cuatrimestre y del 50% para los alumnos del séptimo al onceavo cuatrimestre,
              que sean seleccionados para representar a la Universidad en eventos deportivos o culturales oficiales.</p>
            <h5 class="text-left">Requisitos:</h5>
            <ul class="text-left">
              <li>Ser alumno regular del cuatrimestre.</li>
              <li>Registrar un promedio del cuatrimestre anterior igual o superior a 9.0 al momento de realizar la
                solicitud.</li>
              <li>No registrar asignaturas no acreditadas ni aprobadas en examen de recuperación global o taller
                remedial del cuatrimestre anterior.</li>
              <li>Oficio del instructor deportivo o cultural avalando la participación del solicitante en la actividad
                correspondiente.</li>
              <li>Solicitud debidamente llenada y firmada con visto bueno del director del área académica
                correspondiente.</li>
            </ul>
          </div>
        </div>
      </a>
      </div>
    </div>

    <!-- Siguiente Fila de Tarjetas -->
    <div class="row text-center">
      <!-- Tarjeta 3 -->
      <div class="col-lg-6 mb-4 d-flex align-items-stretch"  style="padding: 30px;">
        <a href="https://siga.utng.edu.mx/" class="card-link"  target="_blank">
        <div class="card w-100 h-100 shadow">
          <div class="card-header bg-blue text-white rounded-top">
            APOYO POR NECESIDAD APREMIANTE
            <div class="badge badge-close">Convocatoria Cerrada</div>
          </div>
          <div class="card-body bg-light rounded-bottom">
            <p class="text-justify">Consiste en la ministración mensual no reembolsable de una cantidad de dinero, a los
              alumnos con promedio mínimo de ocho y necesidad económica extrema que ponga en riesgo la continuidad de
              sus estudios en la Universidad.</p>
            <h5 class="text-left">Requisitos:</h5>
            <ul class="text-left">
              <li>Ser alumno regular del cuatrimestre.</li>
              <li>No contar con otro tipo de estímulo o apoyo económico.</li>
              <li>Obtener un promedio mínimo de ocho en el cuatrimestre anterior sin adeudo de materias al momento de
                realizar la solicitud.</li>
              <li>Realizar una entrevista con el Subdirector de Servicios Escolares.</li>
              <li>Solicitud debidamente llenada y firmada por el director del área académica correspondiente, con los
                siguientes documentos:
                <ul>
                  <li>Comprobante de ingresos económicos familiares.</li>
                  <li>Carta redactada por el alumno donde exponga las principales razones por las que solicita el apoyo
                    por necesidad apremiante firmada por el solicitante y por el padre o jefe de familia.</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </a>
      </div>
      <!-- Tarjeta 4 -->
      <div class="col-lg-6 mb-4 d-flex align-items-stretch"  style="padding: 30px;">
        <a href="https://siga.utng.edu.mx/" class="card-link"  target="_blank">
        <div class="card w-100 h-100 shadow">
          <div class="card-header bg-blue text-white rounded-top">
            APOYO POR RENDIMIENTO ACADÉMICO
            <div class="badge badge-open">Convocatoria abierta</div>
          </div>
          <div class="card-body bg-light rounded-bottom">
            <p class="text-justify">Consiste en la exención de un porcentaje del pago de la inscripción cuatrimestral a
              los alumnos de la Universidad y se establece conforme a los siguientes cuatrimestres, promedios y
              porcentajes de exención:</p>

            <!-- Tabla de porcentajes -->
            <div class="row">
              <div class="col-md-6">
                <table class="table">
                  <thead>
                    <th>Nivel Técnico <br>Superior Universitario:</th>
                    <tr>
                      <th>Promedio obtenido</th>
                      <th>Exención porcentual</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>9.6 - 10</td>
                      <td>75%</td>
                    </tr>
                    <tr>
                      <td>9.1 - 9.5</td>
                      <td>50%</td>
                    </tr>
                    <tr>
                      <td>8.6 - 9.0</td>
                      <td>25%</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-6">
                <table class="table">
                  <thead>
                    <th>Nivel Licenciatura <br>(Ingenierías):</th>
                    <tr>
                      <th>Promedio obtenido</th>
                      <th>Exención porcentual</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>9.6 - 10</td>
                      <td>50%</td>
                    </tr>
                    <tr>
                      <td>9.1 - 9.5</td>
                      <td>25%</td>
                    </tr>
                    <!-- Agregar más filas si es necesario -->
                  </tbody>
                </table>
              </div>
            </div>

            <h5 class="text-left">Requisitos:</h5>
            <ul class="requisitos-lista">
              <li>Ser alumno regular del cuatrimestre.</li>
              <li>Registrar un promedio del cuatrimestre anterior igual o superior a 8.6 para el nivel TSU y 9.1 para el
                nivel Licenciatura (ingenierías).</li>
              <li>No registrar asignaturas no acreditadas ni aprobadas en examen de recuperación global o taller
                remedial del cuatrimestre anterior.</li>
              <li>Solicitud debidamente llenada y firmada por el director del área académica correspondiente.</li>
            </ul>
          </div>
        </div>
      </a>
      </div>
    </div>
  </div>
</div>