@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno');

.footer {
    background-color: #4989D6;
    margin-top: auto;
    padding: 5px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1000;
}

.footer-body {
    padding: 0.5%;
    color: white;
}

h4 {
    font-family: Nunito;
    font-weight: bold;
    margin-bottom: 0px !important;
}

h4 {
    font-family: Nunito;
}

.btn-help {
    font-family: Nunito;
    color: white;
    background-color: #2557a7;
    border: 1px transparent solid;
}

.btn-help:hover {
    font-family: Nunito;
    color: white;
    background-color: #4c6a99;
    border: 1px transparent solid;
}


.btn-help:active {
    font-family: Nunito;
    color: white;
    background-color: #3a5b8f;
    border: 1px white solid;
}


.btn-submit {
    font-family: Nunito;
    color: white;
    background-color: #2557a7;
    border: 1px white solid;
    border-radius: 0%;
    box-shadow: 0px 4px 0px #94949478;
}

.btn-submit:hover {
    font-family: Nunito;
    color: white;
    background-color: #2557a7;
    border: 1px white solid;
    border-radius: 0%;
    box-shadow: 0px 4px 0px #94949478;
}

.btn-submit:active {
    font-family: Nunito;
    color: white;
    background-color: #2557a7;
    border: 1px white solid;
    border-radius: 0%;
    box-shadow: 0px 4px 0px #ffecd478;
}

#exampleFormControlTextarea1 {
    resize: none;
}

#exampleFormControlTextarea1:disabled{
    background:  #D9D9D9; border-radius: 5px; border: 1px black solid
}

.nav-link {
    cursor: pointer;
}

.collap {
    background-color: #7FB2F0;
    text-decoration: none;
    padding: 20px;
    color: white;
    border-radius: var(--bs-modal-inner-border-radius);
    user-select: none;
}


.collap:hover {
    background-color: #61a7fd;
}

.collap:active {
    color: white;
}