<div class="footer">
    <div class="d-flex footer-body">
        <div class="col-2 w-25"></div>
        <div class="col-8 w-50" style="text-align: center; height: auto;">
            <h4>©UTNG 2023</h4>
        </div>
        <div class="col-2 w-25" style="text-align: right;">
            <button class="btn btn-p-primary" #modalButton data-bs-toggle="modal" data-bs-target="#ayudaModal">Solicitar ayuda</button>
        </div>
    </div>
</div>




<div class="modal fade" id="ayudaModal" tabindex="-1" aria-labelledby="ayudaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="text-align: center;">
                <div class="col-12"><h1 class="modal-title fs-5" id="ayudaModalLabel">Solicitar ayuda</h1></div>
                <button type="button" style="position: relative; left: -36px;" class="btn" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark fa-xl"></i></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <input type="text" class="form-control" placeholder="Nombre" required>
                    <br />
                    <input type="email" class="form-control" placeholder="Correo electrónico" formControlName="email" [class.invalid]="form.get('email')?.hasError('email') && form.get('email')?.dirty" required>
                    <br />
                    <select class="form-select" aria-label="Default select example" formControlName="temaValue" required>
                        <option *ngFor="let tema of temas; let i = index" [value]="i + 1">{{ tema }}</option>
                    </select>
                    <br />
                    <textarea  [class.oscuro]="esModoOscuro" class="form-control" id="exampleFormControlTextarea1" rows="8" placeholder="Descripción" [disabled]="form.get('temaValue')?.value != 7"></textarea>
                </form>
            </div>
            <div class="modal-footer" style="justify-content: center;">
                <button type="button" class="btn btn-p-primary" data-bs-dismiss="modal" [disabled]="form.invalid">Enviar</button>
            </div>
        </div>
    </div>
</div>
