<div class="instalaciones">

    <div class="titulo-ins" style="text-align: center;" (mouseenter)="this.lectura.leerTexto('Instalaciones')">
        <h1 [class.typing-effect]="typing" [class.end-typing]="!typing" style="font-size: 3em;">{{ title }}</h1>
    </div>


    <div class="container" style="margin-bottom: 130px; margin-top: 100px;">
        
        <div class="h-100 w-100" *ngFor="let location of locations; let i=index">
            <div class="card mb-3" *ngIf="locations.length !== (i + 1)"
                style="border: none; min-height: 208px !important;" [class.oscuro]="esModoOscuro">
                <div class="row g-0" style="min-height: 208px !important;">
                    <div class="col-md-2 col-12" *ngIf="(i + 1) % 2 !== 0">
                        <img src="{{location.src}}" alt="..." width="179"
                            class="card-img h-100 responsive-image-left button-img">
                    </div>
                    <div class="col-md-10">
                        <div [class.card-header-left]="(i + 1) % 2 !== 0" [class.card-header-right]="(i + 1) % 2 === 0">

                            <h5 [class.subtitle-right]="(i + 1) % 2 === 0"
                                (mouseenter)='this.lectura.leerTexto("{{location.title}}")'>{{location.title}}</h5>
                            <div class="badge" (click)="openImageModal(location)" data-bs-toggle="modal"
                                data-bs-target="#imageModal" [class.badge-open-right]="(i + 1) % 2 === 0"
                                [class.badge-open-left]="(i + 1) % 2 !== 0"><i class="fa-solid fa-eye"></i></div>
                        </div>
                        <div class="card-body">

                            <div class="h-100 w-100">
                                <p class="card-text text-ins" [class.text-ins-left]="(i + 1) % 2 !== 0"
                                    [class.text-ins-right]="(i + 1) % 2 === 0"
                                    (mouseenter)='this.lectura.leerTexto("{{location.description}}")'>
                                    {{location.description}}</p>
                                <div class="waveWrapper waveAnimation">
                                    <div class="waveWrapperInner bgTop">
                                        <div class="wave waveTop"
                                            style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')">
                                        </div>
                                    </div>
                                    <div class="waveWrapperInner bgMiddle">
                                        <div class="wave waveMiddle"
                                            style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')">
                                        </div>
                                    </div>
                                    <div class="waveWrapperInner bgBottom">
                                        <div class="wave waveBottom"
                                            style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-12 right" *ngIf="(i + 1) % 2 === 0">
                        <img src="{{location.src}}" alt="..." width="179"
                            class="card-img h-100 responsive-image-right button-img">
                    </div>
                </div>
            </div>

            <div class="card mb-3" *ngIf="locations.length === (i + 1)" [class.oscuro]="esModoOscuro">
                <div class="card-header">

                    <h5 class="subtitle card-title" (mouseenter)='this.lectura.leerTexto("{{location.title}}")'>
                        {{location.title}}</h5>
                    <div class="badge badge-open" (click)="openImageModal(location)" data-bs-toggle="modal"
                        data-bs-target="#imageModal"><i class="fa-solid fa-eye"></i></div>
                </div>
                <div class="card-body wave-bg">
                    <p class="card-text text-ins" (click)="openImageModal(location)"
                        (mouseenter)='this.lectura.leerTexto("{{location.description}}")'>{{location.description}}</p>
                    <div class="waveWrapper waveAnimation">
                        <div class="waveWrapperInner bgTop">
                            <div class="wave waveTop"
                                style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')">
                            </div>
                        </div>
                        <div class="waveWrapperInner bgMiddle">
                            <div class="wave waveMiddle"
                                style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')">
                            </div>
                        </div>
                        <div class="waveWrapperInner bgBottom">
                            <div class="wave waveBottom"
                                style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')">
                            </div>
                        </div>
                    </div>
                </div>
                <img src="{{location.src}}" height="179" class="card-img-bottom button-img" alt="...">
            </div>
            <hr class="hr-inst" *ngIf="locations.length !== (i + 1)">
        </div>
    </div>
</div>

<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-12">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"
                        (mouseenter)='this.lectura.leerTexto("{{selectedLocation?.title}}")'>{{selectedLocation?.title}}
                    </h1>
                </div>
                <button type="button" style="position: relative; left: -36px;" class="btn" data-bs-dismiss="modal"
                    aria-label="Close"><i class="fa-solid fa-xmark fa-xl"></i></button>

            </div>
            <div class="modal-body" style="text-align: center;">
                <img src="{{selectedLocation?.src}}" alt="" class="modal-img img-fluid">
            </div>
        </div>
    </div>
</div>